.modalBackground {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  z-index: 10;
}

.modalContainer {
  width: 400px;
  background-color: white;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0px 0px 10px #000;
}

.title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.body input.address {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
}

#selectNumber {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
}

.footer {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}

#cancelBtn {
  background-color: #ccc;
  padding: 0.5rem 1rem;
  border: none;
  cursor: pointer;
}

.footer button {
  background-color: #4f46e5;
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  cursor: pointer;
}
